<!DOCTYPE html>
{% load static %}
{% load leaflet_tags %}
<html lang="en">
 <meta charset="utf-8">
    <head>
    {% leaflet_js %}
	{% leaflet_css %}
       
        <title>NGO-NAIROBI</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

        <style type="text/css">
		    #gis {width:100%;height:400px;}
      </style>
      <link rel="stylesheet" type="text/css" href="{% static 'branches/dist/leaflet.groupedlayercontrol.min.css' %}">
        <script type="text/javascript" src="{% static 'branches/dist/leaflet.ajax.js' %}" > </script>
        <script type="text/javascript" src="{% static 'branches/dist/leaflet.groupedlayercontrol.min.js' %}" > </script>
    </head>
<body>
    <div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">NGO-NAIROBI</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                </li>
                <li class="nav-item">
                </li>
                <li class="nav-item dropdown">
  
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"></a>
                </li>
              </ul>
              <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
              </form>
            </div>
          </nav>
    </div>
        <br>
        <script>
            function our_layers(map, options){
              var osm = L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                        maxZoom: 19,
                        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
                      });

              var OpenTopoMap = L.tileLayer('http://{s}.tile.opentopomap.org/{z}/{x}/{y}.png', {
                    maxZoom: 17,
                    attribution: 'Map data: &copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>, <a href="http://viewfinderpanoramas.org">SRTM</a> | Map style: &copy; <a href="https://opentopomap.org">OpenTopoMap</a> (<a href="https://creativecommons.org/licenses/by-sa/3.0/">CC-BY-SA</a>)'
                  });

              let main = new L.GeoJSON.AJAX("{% url 'main' %}",{
                  onEachFeature: function(feature,layer){
                      layer.bindPopup(feature.properties.name.toString());
                  },
      
              });
              //datasets.addTo(map);
              main.addTo(map);

              let datasets = new L.GeoJSON.AJAX("{% url 'regional' %}",{
                  onEachFeature: function(feature,layer){
                      layer.bindPopup(feature.properties.name.toString());
                      marker.bindPopup.openPopup();
                  },
      
              });
              //datasets.addTo(map);
              datasets.addTo(map);

              let points = new L.GeoJSON.AJAX("{% url 'field' %}",{
                  onEachFeature: function(feature,layer){
                      layer.bindPopup(feature.properties.name.toString());
                  },
      
              });
              //datasets.addTo(map);
              points.addTo(map);


              var popup = L.popup();

                  function onMapClick(e) {
                      popup
                          .setLatLng(e.latlng)
                          .setContent("You clicked the map at " + e.latlng.toString())
                          .openOn(map);
                  }

                  map.on('click', onMapClick);

              var baseLayers = {
                  "OSM": osm,
                  "OpenTopoMap":OpenTopoMap
                }

              var groupedOverlays = {
                  "Layers": {
                    "main": main,
                    "regional": datasets,
                    "field": points
                  }

                    };

              L.control.groupedLayers(baseLayers, groupedOverlays).addTo(map);
            
          }
        </script>

        {% leaflet_map 'gis' callback="window.our_layers" %}
</body>
</html>